PORT=5001
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRATION=1d
RESET_TOKEN_SECRET=

EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USER=__USER__
EMAIL_PASSWORD=__PASSWORD__
EMAIL_SECURE=false
EMAIL_REJECT_UNAUTHORIZED=false

SUPER_ADMIN_EMAIL=super@gmail.com
SUPER_ADMIN_PASSWORD=super

SUPER_LICENSE=ABC-123-456